# Settings POSTGRES
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST_IP=
POSTGRES_PORT=
POSTGRES_CONTAINER_PORT=
POSTGRES_DB=

# DB url
DB_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST_IP}:${POSTGRES_PORT}/${POSTGRES_DB}

# Settings JWT
SECRET_KEY_JWT=
ALGORITHM=

# Settings email newsletter
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME=""
MAIL_PORT_SMTP=
MAIL_CONTAINER_PORT_SMTP=
MAIL_PORT_HTTP=
MAIL_CONTAINER_PORT_HTTP=
MAIL_SERVER=
MAIL_STARTTLS=
MAIL_SSL_TLS=
USE_CREDENTIALS=
VALIDATE_CERTS=

# Settings redis cash
REDIS_HOST_IP=
REDIS_PORT=
REDIS_CONTAINER_PORT=
REDIS_USER=
REDIS_PASSWORD=
REDIS_URL=redis://${REDIS_USER}:${REDIS_PASSWORD}@${REDIS_HOST_IP}:${REDIS_PORT}/0

# Cloudinary settings
CLOUDINARY_CLOUD_NAME=my_cloud_name
CLOUDINARY_API_KEY=my_key
CLOUDINARY_API_SECRET=my_secret
